######################## default configuration ####################
baseURL = "https://Justin-way.github.io"
languageCode = "zh-tw"
title = "Wayne's Blog"
theme = "liva-hugo"
summaryLength = "10"
paginate = 5
disqusShortname = "justin-way"

[outputs]
home = ["HTML", "RSS", "JSON"]

############################# Plugins ##############################
[params.plugins]

# CSS Plugins
[[params.plugins.css]]
URL = "plugins/bootstrap/bootstrap.min.css"
[[params.plugins.css]]
URL = "plugins/slick/slick.css"
[[params.plugins.css]]
URL = "plugins/themify-icons/themify-icons.css"
[[params.plugins.css]]
URL = "plugins/venobox/venobox.css"

# JS Plugins
[[params.plugins.js]]
URL = "plugins/jQuery/jquery.min.js"
[[params.plugins.js]]
URL = "plugins/bootstrap/bootstrap.min.js"
[[params.plugins.js]]
URL = "plugins/slick/slick.min.js"
[[params.plugins.js]]
URL = "plugins/venobox/venobox.min.js"
[[params.plugins.js]]
URL = "plugins/search/fuse.min.js"
[[params.plugins.js]]
URL = "plugins/search/mark.js"
[[params.plugins.js]]
URL = "plugins/search/search.js"


############################## navigation ###############################
[menu]

# main menu
[[menu.main]]
name = "Blog"
URL = "/"
weight = 1
[[menu.main]]
name = "about me"
URL = "about/"
weight = 1



# footer menu
[[menu.footer]]
name = "About"
URL = "about/"
weight = 1



#################### default parameters ################################
[params]
logo = "images/logo.png"
home = "Home"
# Meta data
description = "小偉的心得分享"
author = "Ｗayne (韋恩)  "
# Google Analitycs
googleAnalitycsID = "UA-252541310-1"

#test


# Preloader
[params.preloader]
enable = true
preloader = "" # use .png , .svg or .gif format

# search
[params.search]
enable = true

############################ news letter ########################
[params.newsletter]
enable = false
title = "Join Our Newsletter"
content = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero"


# cookies
[params.cookies]
enable = true
expire_days = 2


############################# social site ########################


[[params.social]]
title = "github"
icon = "ti-github" # themify icon : https://themify.me/themify-icons
link = "https://github.com/Justin-way"

[[params.social]]
title = "linkedin"
icon = "ti-linkedin" # themify icon : https://themify.me/themify-icons
link = "https://www.linkedin.com/in/yeh-wayne-94763219b/"

[[params.social]]
title = "email"
icon = "ti-email" # themify icon : https://themify.me/themify-icons
link = "mailto:thebest77771023@yahoo.com.tw"

[markup]
  [markup.highlight]
    style = 'friendly'
